{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bienvenido a Kanlli-Coobis</h1>
    <br>
    <div class="row">
        <a href="/user" class='btn btn-primary btn-lg' role="button">Gestionar Usuarios</a>

        <a href="/category" class='btn btn-warning btn-lg' role="button">Gestionar Categorías</a>

        <a href="/data" class='btn btn-danger btn-lg' role="button">Gestionar Datos</a>
    </div>

{% endblock %}