{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category Select</h1>

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Home</a></li>
		<li class="active">Category Select</li>
	</ol>

	<div class="row">
		{% for category in categories %}
			<div class='col-md-2'>
				<a href='{{ path('data_seo_index', { 'categoryId': category.id }) }}' class='btn btn-primary btn-lg' role='button' onclick="document.getElementById('loading').style.display = 'block'">{{ category.categoryName }}</a>
			</div>
		{% endfor %}
	</div>

	<div id="loading">
		<div id="loader">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="lading"></div>
		</div>
	</div>
{% endblock %}